.card-container
{
    border: 1px solid black;
    background-color: azure;
    border-radius: 6px;
    max-width: 300px;
    min-height: 300px;

    img {width: 100%;
        height: 300px;}
}

.card-text{
    padding: 1rem;
}