<div class="btn">
    <a routerLink="/parent-page/header" style="text-decoration: none; font-weight: bold;">
        View Header
    </a>
</div>
<div class="btn">
    <a routerLink="/parent-page/dashboard1" style="text-decoration: none; font-weight: bold;">
        View Booking & Services
    </a>
</div>
<div class="btn">
    <a routerLink="/parent-page/dashboard2" style="text-decoration: none; font-weight: bold;">
        View Most Popular Destinations
    </a>
</div>
<app-header></app-header>
<app-dashboard1></app-dashboard1>
<app-dashboard2></app-dashboard2>